* {
   font-family: 'Plus Jakarta Sans', sans-serif; 
   letter-spacing: 4%;
   margin: 0;
   padding: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    background: var(--background);
}

/* Header Styles */

header a {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;  
    justify-content: space-between;
    position: fixed;
    top: 0;
    height: 100px;
    z-index: 99;
    background-color: transparent;
    padding-left: 3%;
    padding-right: 3%;
    width: 94%;
    transition: all 500ms;
}  

.scrolled{
    background-color: var(--black);
}

.ul-header{   
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
  
.nav-item {
    color: white;
    margin-right: 28px;
    text-decoration: none;
    transition: all 500ms;
}
  
ul li {
    padding: 5px;
    margin-left: 10px;
}
  
.nav-item:hover {
    text-decoration: underline;
    color: var(--acsentcolor);
}
  
#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}
  
#hamburger-icon div {
    width: 24px;
    height: 2px;
    background-color: var(--acsentcolor);
    margin: 6px 0;
    border-radius: 1px;
    transition: 0.4s;
}
  
.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-4px, 4px);
    transform: rotate(-45deg) translate(-4px, 4px);
}
  
.open .bar2 {
    opacity: 0;
}
  
.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}
  
.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}
  
.mobile-menu {
    display: none;
    position: absolute;
    list-style: none;
    padding-top: 20%;
    background-color: var(--background);
    top: 80px;
    right: 0;
    height: calc(100vh - 50px);
    width: 50%;
}
  
.mobile-menu li {
    margin-bottom: 10px;
}

/* Main Section Styles */

.s-main {
    display: flex;
    justify-content: space-between;
    height: 980px;
    width: 100%;
    margin-top: 100px;
    padding-top: 100px;
    background: url("/resources/img/robo-main.gif") no-repeat right;
    background-size: 84%;
}

.text-main {
    padding-left: 8%;
    padding-top: 8%;
}

h1{
    font-size: 72px;
    color: var(--white);
}

h2{
    font-size: 36px;
}

.ptext {
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
}

.ptext1 {
    padding-top: 24px;
    padding-bottom: 40px;
}

/* About Section Style */

.sec-about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 6%;
    padding-right: 6%;
}

#img-about {
    margin-top: 144px;
    margin-bottom: 144px;
    z-index: 5;
    background: transparent;
    width: 40%;
}

.descript1 {
    margin-top: 248px;
    width: 40%;
}

.h1-about{
    color: var(--white);
    margin-bottom: 24px;
    font-size: 72px;
}

.z-i10{
    z-index: 10;
    position: relative;
}

/* Advantages Style */

.sec-adv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.all-boxes-adv {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 144px;
    background: transparent;
}

.box-adv {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--acsentcolor);
    box-sizing: border-box;
    border-radius: 20px;
    background-color: var(--lightblack);
    padding-left: 36px;
    padding-right: 36px;
    max-height: 448px;
    margin-top: 80px;
    padding-bottom: 24px;
}

.icons {
    margin-top: 34px;
    margin-bottom: 24px;
    max-height: 141px;
}

h3 {
    font-size: 24px;
}

.pwidth {
    max-width: 247px;
}

.text-center {
    text-align: center;
}

/* Capabilities Section */

.sec-cap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-left: 3%;
    margin-right: 3%;
    border: 2px solid var(--white);
    border-radius: 20px;
    background-color: var(--lightblack);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.cap-all{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding-left: 5%;
    padding-right: 5%;
}

.capa-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 1764px;
}


.c-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
}

.c-tex{
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 467px;
    margin-top: 124px;
    margin-right: 180px;
}

.img-c{
    mix-blend-mode: screen;
    max-width: 50%;
}

.h1-cap {
    text-align: center;
    margin-top: 92px;
    margin-bottom: 72px;
}


.line-c{
    margin-top: 130px;
    margin-right: 1%;
}

.line{
    height: 78%;
    padding-bottom: 373px;
}

.pc1 {
    padding-top: 8%;
}

.pc2 {
    padding-top: 16%;
}

.pc3 {
    padding-top: 24%;
}

/* Banner Section */

.sec-box{
    margin: 144px 3%;
    border-radius: 20px;
}

.img-ban{
    margin-left: 3%;
    margin-right: 7%;
}

.img-b{
    max-width: 100%;
}

.sec-banner{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background: var(--acsentcolor);
    z-index: 10;
}

.pad-p-b{
    padding-top: 32px;
    padding-bottom: 40px;
}

/* Frameworksection */

.sec-frame{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 8%;
    margin-bottom: 144px;
}

.desc-frame{
    display: flex;
}

.text-frame{
    display: flex;
    flex-direction: column;
    max-width: 668px;
    gap: 1em;
    margin-top: 72px;
    margin-left: 144px;
}

.h1-fr{
    text-align: center;
    margin-bottom: 112px;
}

.img-fr{
    max-width: 100%;
}

/* Benefits Styles */

.all-fr-boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 10;
    gap: 3%;
}

.fr-box{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 2px solid var(--white);
    background: var(--lightblack);
    border-radius: 20px;
    max-width: 508px;
    height: 645px;
    padding: 24px 48px;
    margin-bottom: 2%;
}

.h1-b{
    margin-bottom: 96px;
    text-align: center;
}

/* Contact Block Styles */

.sec-contact{
    display: flex;
    padding-left: 5%;
    justify-content: space-between;
    align-items: flex-end;
    height: 780px;
    background: url(/resources/img/rect-cont.svg) no-repeat;
    background-position: bottom;
    background-size: 100%;
    margin: 144px 3%;
    border-radius: 20px;
}

.form-control{
    margin-bottom: 16px;
    border: 1px solid var(--black);
    background-color: var(--acsentcolor);
    min-width: 251px;
    max-width: 363px;
    display: inline-flex;
    padding: 1em 1em;
    border-radius: 4px;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    resize: none;
    color: var(--black);
}

::placeholder{
    color: var(--black);
}

.btn-send{
    display: inline-flex;
    padding: 16px 32px;
    border-radius: 4px;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    background-color: var(--black);
    color: var(--white);
    margin-bottom: 20%;
    border: 0;
    transition: all 300ms;
}

.btn-send:hover{
    border: 0;
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;
}

.h1-cont{
    margin-bottom: 32px;
}

#img-cont{
    width: 60%;
}

/* Footer Style */

.footer-p1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 3%;
    padding-right: 3%;
}

#logo-footer{
    margin-top: 72px;
    margin-right: 8%;
    width: 400px;
}

.foot-nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 8%;
    margin-top: 120px;
    margin-bottom: 120px;
}

.f-li{
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

.nav-f{
    color: white;
    text-align: left;
    align-items: flex-start;
    text-decoration: none;
    transition: all 500ms;
}

.nav-f:hover {
    text-decoration: underline;
    color: var(--acsentcolor);
}

.foot-l{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 16px;
}

.footer-p2{
    text-align: center;
    color: var(--white);
    padding-top: 8px;
    padding-bottom: 8px;
}

.foot-p{
    font-size: 14px;
    font-weight: 400;
}

.bg-black{
    background-color: var(--black);
}

.h3-f {
    color: var(--white);
    margin-bottom: 24px;
}

#go-up{
    margin-top: 120px;
}


/* Backimages */

.bg-transp{
    background: transparent;
    max-width: 100%;
}

.back-img-l {
    position: absolute;
    left: 0;
    z-index: 1;
    max-width: 70%;
}

.back-img-r {
    position: absolute;
    right: 0;
    z-index: 1;
    max-width: 70%;
}

/* Colors classes */

.white {
    color: var(--white);
}

.black {
    color: var(--black);
}

.acsent {
    color: var(--acsentcolor);
}

/* Buttons */

.btn {
    display: inline-flex;
    padding: 16px 32px;
    border-radius: 4px;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    transition: all 300ms;
}

.btn-lined {
    background-color: transparent;
    border: 1px solid var(--acsentcolor);
    color: var(--white);
}

.btn-lined:hover {
    background-color: var(--acsentcolor);
    color: var(--black);
}

.btn-fill {
    background-color: var(--white);
    color: var(--black);
}

.btn-fill:hover {
    background-color: var(--acsentcolor);
}

.btn-fill-black {
    background-color: var(--black);
}

.btn-fill-black:hover {
    background-color: var(--white);
    border: 1px solid var(--white);
    color: var(--black);
    cursor: pointer;
}